<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_age, partial: "card", as: :user_age %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_ages/user_age_products" %>
  </div>
</div>
